@{
    ViewData["Title"] = "About";
}
<h3>Online tutors...</h3>

<p>
    We provide a platform for both tutors and students where the tutors can easily register their academics profile accroding to
    specific location based on which students & their parents can search the required tutor according to their respective requirements.
</p>
<p>Also remember that we won't be doing any background verification of tutors or students. Please beware of fraud.</p>
